/* Body */
    body {
    margin: 0;
    }
    .Container {
        width: auto;
        height: 100%;
        margin: 0;
        background-color: white;
    } 

/* Top Nav*/
.Logo img{
    height: 100px;
    width: 300px;
}
.Logo {     
  transform: translate(0%, 18%);
  height: 100px;
  width: 500px;
    float: left;
    margin: 0%;
    margin-left: 8%;
    padding: 0%;
}
.Topnav {
    background-color: #F4EEDF;
    overflow: hidden;
    height: 130px;
  }
  .Menu a {
    height: 150px;
    text-shadow: 2px 2px 0px black;
    color: #d9f2cc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  .Topnav a:hover {
    color: white;
  }
  .Menu{
    width: auto;
    height: 150px;
    margin: 0%;
    transform: translate(-10%, 35%);
    
  }
  .Topnav a.active {
    background-color: white;
    border-radius: 30px;
  }
  .Topnav a.active:hover {
    color: #C8DBBE;
    border-radius: 30px;
  }
  
 /*Slide Show*/
    .slideshow-container {
        max-width: 1400px;
        position: relative;
        margin: auto;
      }
      
      .mySlides {
        display: none;
      }
      
      /* Navigation button styling */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, reduce opacity */
      .prev:hover, .next:hover {
        opacity: 0.8;
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

/* Menu */
    .MenuOnigiri{
    margin-top: 0%;
    background-image: url(bgMenu.png);
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 900px;
    font-family: "Comic Sans MS", Times, serif; 
    }
    .OurMenu h1{
        font-size: 60px;
        text-align: center;
        padding-top: 9%;
        text-shadow: 2px 2px 0px rgb(207, 206, 206);
        color: white;

    }
    /*Onigiri1*/
    .onigiri{
    height: 250px;
    width: 250px;
        margin-left: 9%;
        margin-top: 10%;
        float: left;
        border-radius: 50%;
        background-color: #9F8772;
        overflow: hidden;
        text-decoration: none;
    }
    .onigiri:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      
    }
    .onigiri img{
    height:250px ;
    width: 250px;
    transform: translate( 0%, 0%);
    display: block;
    transition: transform 2s;
    backface-visibility: hidden;
    }
    .content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    }
    .onigiri:hover img{
        transform: scale(1.3);
        opacity: 0.3;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    .onigiri:hover .content {
    opacity: 1;
    }
    .text {
    color: white;
    font-size: 30px;
    padding: 16px 30px;
    transform: translate(-120%,50%);
    }

    /*Onigiri2*/
    .onigiri2{
        height: 250px;
        width: 250px;
            margin-left: 2%;
            margin-top: 10%;
            float: left;
            border-radius: 50%;
            background-color: #9F8772;
            overflow: hidden;
        }
        .onigiri2 a{
          text-decoration: none;
        }
        .onigiri2:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .onigiri2 img{
        height:250px ;
        width: 250px;
        transform: translate( 0%, 0%);
        display: block;
        transition: transform 2s;
        backface-visibility: hidden;
        }
        .content2 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        }
        .onigiri2:hover img{
            transform: scale(1.3);
            opacity: 0.3;
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }
        .onigiri2:hover .content {
        opacity: 1;
        }
        .text2 {
        color: white;
        font-size: 30px;
        padding: 16px 30px;
        transform: translate(0%,0%);
        }
    /*Onigiri3*/
    .onigiri3{
        height: 250px;
        width: 250px;
            margin-left: 2%;
            margin-top: 10%;
            float: left;
            border-radius: 50%;
            background-color: #9F8772;
            overflow: hidden;
        }
        .onigiri3 a{
          text-decoration: none;
        }
        .onigiri3:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .onigiri3 img{
        height:250px ;
        width: 250px;
        transform: translate( 0%, 0%);
        display: block;
        transition: transform 2s;
        backface-visibility: hidden;
        }
        .content3 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        }
        .onigiri3:hover img{
            transform: scale(1.3);
            opacity: 0.3;
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }
        .onigiri3:hover .content {
        opacity: 1;
        }
        .text3 {
        color: white;
        font-size: 30px;
        padding: 16px 30px;
        transform: translate(0%,10%);
        }
    /*Onigiri4*/
    .onigiri4{
        height: 250px;
        width: 250px;
            margin-left: 2%;
            margin-top: 10%;
            float: left;
            border-radius: 50%;
            background-color: #9F8772;
            overflow: hidden;
        }
        .onigiri4 a{
          text-decoration: none;
        }
        .onigiri4:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .onigiri4 img{
        height:250px ;
        width: 250px;
        transform: translate( 0%, 0%);
        display: block;
        transition: transform 2s;
        backface-visibility: hidden;
        }
        .content4 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        }
        .onigiri4:hover img{
            transform: scale(1.3);
            opacity: 0.3;
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }
        .onigiri4:hover .content {
        opacity: 1;
        }
        .text4 {
        color: white;
        font-size: 30px;
        padding: 16px 30px;
        transform: translate(0%,10%);
        }
    /*footer*/
    .footer {
        padding-top: 3%;
        padding-left: 5%;
        height: 412px;
        width: auto;
        background-image: url(bgFooter.png);
        background-size: 100%;
    }    
    .kalimat-footer{
        float: left;
        width: 35%;
        transform: translate(50%, 50%);
    }
    .email-box{
        font-size: 25px;
        float: left;
        transform: translate(-51%, 600%);
    }
   #email{
        background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.556),
        rgba(255, 255, 255, 0.3)
      );
      border: 1px solid black;
    }
    #email:hover {
        background-color: rgb(172, 221, 186);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .icon-button {
        background-color: #fff;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 50px;
        background: linear-gradient(
            to right bottom, 
            rgba(255, 255, 255, 0.556),
            rgba(255, 255, 255, 0.3)
          );
      }
      
      .icon-button i {
        color: #000;
      }
      .icon-button:hover{
        background-color: rgb(172, 221, 186);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
     /*bot-nav*/
     .bot-nav {
        background-color: white;
        overflow: hidden;
        height: 50px;
      }
      .menu2 a {
        height: 150px;
        text-shadow: 2px 2px 0px black;
        color: #d9f2cc;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
      }
      .menu2 a:hover {
        color: white;
      }
      .menu2{
        width: 50%;
        height: 50px;
        margin: 0%;
        float: right;
        transform: translate(40%, 15%);
        
      }
      .bot-nav a.active {
        background-color: white;
        border-radius: 30px;
      }
      .bot-nav a.active:hover {
        color: #C8DBBE;
        border-radius: 30px;
      }
  
            